<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="ruqola" version="2">
 <MenuBar>
  <Menu name="file" >
   <Action name="add_account" />
   <Separator/>
  </Menu>
  <Menu name="edit" >
   <text>&amp;Edit</text>
  </Menu>
 </MenuBar>
</gui>

