<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="ruqola" version="22">
 <MenuBar>
  <Menu name="file" >
   <Action name="add_server" />
   <Separator/>
   <Action name="server_menu" />
   <Separator/>
   <Action name="server_info" />
   <Separator/>
   <Action name="configure_my_account" />
   <Separator/>
   <Action name="register_new_user" />
   <Separator/>
   <Action name="administrator" />
   <Separator/>
   <Action name="mark_all_channels_read" />
   <Separator/>
   <Action name="directory" />
   <Separator/>
   <Action name="logout" />
   <Separator/>
  </Menu>
  <Menu name="channel" >
   <text>Channel</text>
   <Action name="search_channel" />
   <Action name="next_unread_channel" />
   <Separator/>
   <Action name="create_new_channel" />
   <Action name="create_direct_messages" />
   <Action name="create_discussion" />
   <Action name="create_team" />
   <Separator/>
   <Action name="add_user_in_room" />
  </Menu>
  <Menu name="display" >
   <text>Display</text>
   <Action name="unread_on_top" />
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" fullWidth="true" ><text>Main Toolbar</text>
  <Action name="create_new_channel" />
  <Spacer/>
  <Action name="status" />
 </ToolBar>
</gui>

