<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="ruqola" version="11">
 <MenuBar>
  <Menu name="file" >
   <Action name="add_account" />
   <Separator/>
   <Action name="account_menu" />
   <Separator/>
   <Action name="server_info" />
   <Separator/>
   <Action name="mark_all_channels_read" />
   <Separator/>
   <Action name="logout" />
   <Separator/>
  </Menu>
  <Menu name="channel" >
   <text>Channel</text>
   <Action name="search_channel" />
   <Action name="create_new_channel" />
   <Separator/>
   <Action name="channel_info" />
   <Separator/>
   <Action name="add_user_in_room" />
   <Separator/>
   <Action name="generate_invite" />
  </Menu>
  <Menu name="message" >
   <text>Message</text>
   <Action name="video_chat" />
  </Menu>
  <Menu name="display" >
   <text>Display</text>
   <Action name="unread_on_top" />
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar" fullWidth="true" ><text>Main Toolbar</text>
  <Action name="create_new_channel" />
  <Action name="channel_info" />
  <Action name="add_user_in_room" />
 </ToolBar>
</gui>

