<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="ruqola" version="3">
 <MenuBar>
  <Menu name="file" >
   <Action name="add_account" />
   <Separator/>
   <Action name="account_menu" />
   <Separator/>
   <Action name="server_info" />
   <Separator/>
   <Action name="logout" />
   <Separator/>
  </Menu>
  <Menu name="channel" >
   <text>Channel</text>
   <Action name="search_channel" />
   <Action name="create_new_channel" />
   <Separator/>
   <Action name="show_mentions" />
   <Action name="show_pinned_messages" />
   <Action name="show_starred_messages" />
   <Action name="show_snippered_messages" />
   <Action name="show_file_attachments" />
   <Action name="show_discussions" />
   <Action name="show_threads" />
   <Separator/>
   <Action name="search_messages" />
   <Separator/>
   <Action name="configure_notification" />
   <Separator/>
   <Action name="load_recent_history" />
  </Menu>
 </MenuBar>
</gui>

