[Desktop Entry]
Name=Ruqola
Type=Application
Exec=ruqola -qwindowtitle %c %u
Icon=ruqola
GenericName=Rocket.Chat client
StartupNotify=true
Categories=Qt;KDE;Network;InstantMessaging;
SingleMainWindow=true
Version=1.5
