[Desktop Entry]
Name=RuqolaQml
Name[ca]=RuqolaQml
Name[ca@valencia]=RuqolaQml
Name[es]=RuqolaQml
Name[et]=RuqolaQml
Name[it]=RuqolaQml
Name[sv]=Ruqola-QML
Name[uk]=RuqolaQml
Name[zh_TW]=RuqolaQml
Type=Application
Exec=ruqolaqml -qwindowtitle %c %u
Icon=ruqola
GenericName=QML Rocket.Chat client
GenericName[ca]=Client QML del Rocket.Chat
GenericName[ca@valencia]=Client QML del Rocket.Chat
GenericName[es]=Cliente QML para Rocket.Chat
GenericName[et]=Rocket Chati QML klient
GenericName[it]=Client QML di Rocket.Chat
GenericName[sv]=QML Rocket.Chattklient
GenericName[uk]=Клієнт спілкування Rocket на QML
GenericName[zh_TW]=QML Rocket.Chat 用戶端
Terminal=false
StartupNotify=true
Categories=Qt;KDE;Network;
