[Desktop Entry]
Name=Ruqola
Name[ca]=Ruqola
Name[cs]=Ruqola
Name[de]=Ruqola
Name[en_GB]=Ruqola
Name[es]=Ruqola
Name[et]=Ruqola
Name[fi]=Ruqola
Name[fr]=Ruqola
Name[it]=Ruqola
Name[nl]=Ruqola
Name[pl]=Ruqola
Name[pt]=Ruqola
Name[pt_BR]=Ruqola
Name[ru]=Ruqola
Name[sk]=Ruqola
Name[sv]=Ruqola
Name[uk]=Ruqola
Name[x-test]=xxRuqolaxx
Type=Application
Exec=ruqola -qwindowtitle %c %u
Icon=ruqola
GenericName=Rocket.Chat client
GenericName[ca]=Client del Rocket.Chat
GenericName[cs]=Klient pro Rocket Chat
GenericName[de]=Rocket-Chat-Client
GenericName[en_GB]=Rocket.Chat client
GenericName[es]=Cliente para Rocket.Chat
GenericName[et]=Rocket Chati klient
GenericName[fi]=Rocket-keskusteluasiakas
GenericName[fr]=Client Rocket.Chat
GenericName[it]=Client Rocket.Chat
GenericName[nl]=Client van Rocket.Chat
GenericName[pl]=Klient rozmowy Rocket
GenericName[pt]=Cliente de Rocket.Chat
GenericName[pt_BR]=Cliente Rocket.Chat
GenericName[sk]=Chatovací klient Rocket
GenericName[sv]=Rocket.Chattklient
GenericName[uk]=Клієнт Rocket.Chat
GenericName[x-test]=xxRocket.Chat clientxx
Terminal=false
StartupNotify=true
Categories=Qt;KDE;Network;
