[Desktop Entry]
Name=Ruqola
Name[ca]=Ruqola
Name[ca@valencia]=Ruqola
Name[cs]=Ruqola
Name[de]=Ruqola
Name[en_GB]=Ruqola
Name[es]=Ruqola
Name[et]=Ruqola
Name[eu]=Ruqola
Name[fi]=Ruqola
Name[fr]=Ruqola
Name[ia]=Ruqola
Name[it]=Ruqola
Name[ka]=Ruqola
Name[ko]=Ruqola
Name[lt]=Ruqola
Name[nl]=Ruqola
Name[pl]=Ruqola
Name[pt]=Ruqola
Name[pt_BR]=Ruqola
Name[ru]=Ruqola
Name[sk]=Ruqola
Name[sl]=Ruqola
Name[sv]=Ruqola
Name[tr]=Ruqola
Name[uk]=Ruqola
Name[x-test]=xxRuqolaxx
Name[zh_TW]=Ruqola
Type=Application
Exec=ruqola -qwindowtitle %c %u
Icon=ruqola
GenericName=Rocket.Chat client
GenericName[ca]=Client de xat del Rocket
GenericName[ca@valencia]=Client de xat de Rocket
GenericName[cs]=Klient pro Rocket Chat
GenericName[de]=Rocket-Chat-Client
GenericName[en_GB]=Rocket.Chat client
GenericName[es]=Cliente para Rocket.Chat
GenericName[et]=Rocket Chati klient
GenericName[eu]=Rocket.Chat bezeroa
GenericName[fi]=Rocket-keskusteluasiakas
GenericName[fr]=Client « Rocket.Chat »
GenericName[ia]=Cliente de Rocket Chat (Conversation in directo de Rocchetta)
GenericName[it]=Client Rocket.Chat
GenericName[ko]=Rocket.Chat 클라이언트
GenericName[lt]=Rocket.Chat kliento programa
GenericName[nl]=Client van Rocket.Chat
GenericName[pl]=Klient rozmowy Rocket
GenericName[pt]=Cliente de Rocket.Chat
GenericName[pt_BR]=Cliente Rocket.Chat
GenericName[ru]=Клиент Rocket.Chat
GenericName[sk]=Chatovací klient Rocket
GenericName[sl]=Odjemalec Rocket.Chat
GenericName[sv]=Rocket.Chattklient
GenericName[tr]=Rocket.Chat istemcisi
GenericName[uk]=Клієнт Rocket.Chat
GenericName[x-test]=xxRocket.Chat clientxx
GenericName[zh_TW]=Rocket.Chat 用戶端
StartupNotify=true
Categories=Qt;KDE;Network;InstantMessaging;
SingleMainWindow=true
Version=1.5
